
.cart-shop{
  width:100%;
  height:100%;
}
.top{
  height:1.27rem;
  width:100%;
  padding-right:0.39rem;
  border-bottom:0.01rem solid #f0f2f6;
}
.top .icon-fanhui{
  margin-left:.3rem;
  color:green;
  margin-right:1rem;
}
.top .icon-icon-yxj-a{
  display:inline-block;
  height:0.42rem;
  width:0.42rem;
  margin-right:0.2rem;
  line-height:1.27rem;

}
.top .dizhi{
  line-height:1.47rem;
  font-size:0.42rem;
  color:#1d1d1d;

}
.top .bianji{
  font-size:0.42rem;
  color:#69af05;
  float:right;
  line-height:1.47rem;
  margin-right:.4rem;
}
.container{
  width:100%;
}
.container .better{
  width:100%;
  height:1.22rem;
  border-bottom:0.02rem solid #f0f2f6;
}
.container .better input{
  float:left;
  width:.4rem;
  height:.4rem;
  margin-right:.4rem;
  background:#f0f2f6;
}
.container .better h5{
  float:left;
  font-size:0.42rem;
  color:#050505;
  margin-top:0.4rem;
}
.product-list{
  margin: .2rem auto;
  height: 100%;
  overflow: hidden;
}
.container .product-item{
  border-bottom:0.02rem solid #f0f2f6;
  margin-top:.35rem;
  height: 2.5rem;
}
.product-item .product-left{
  float: left;
  width: 45%;
  height: 2rem;
}
.product-left input{
  width:.4rem;
  height:.4rem;
  border-radius:50%;
  background:#f0f2f6;
}
.product-left .active{
  background:green;
}
.product-left  img{
  width: 75%;
  height:100%;
  margin-left:.1rem;
}
.container .products .detail{
  width: 45%;
  float: right;
  margin-right: .3rem;
}
.detail .cart-text{
  margin-top:.5rem;
  text-align: center;
}
.container .detail .p1{
  margin-top:.3rem;
  font-size:.32rem;
  line-height:0.5rem;
}

.container .detail .p3{
  color:#fa6400;
  font-size:0.36rem;

}
.container .detail .p4{
  color:#fa6400;
  font-size:0.36rem;
  margin-right:.2rem;
}
.count{
  margin-left: .2rem;
}
.count .icon-jianhao3{
  margin-right:.2rem;

}
.count .icon-jiahao{
  margin-left:.2rem;
}
.count .icon-shanchu{
  margin-right:.3rem;
}
.wei{
  height:2rem;
  background:#f1f2f6;
}
.wei h5{
  font-size:.45rem;
  text-align:center;
  line-height:2rem;
  margin-top:.35rem;
}
.shop-footer{
  position:fixed;
  left:0;
  bottom:7.5%;
  width:100%;
  height:1.2rem;
  padding-left:.36rem;
  background: #abd3ff;
}
.shop-footer .footer-left{
  height:100%;
  width:60%;
  float:left;
}
.shop-footer .footer-left .foot-put{
  width:.4rem;
  height:.4rem;
  background:#f0f2f6;

}
.shop-footer .footer-left .span1{
  font-size:.45rem;
  position:absolute;
  left:60px;
  bottom:.50rem;


}
.shop-footer .footer-left .span2{
  color:#fa6400;
  font-size:.45rem;
  position:absolute;
  left:96px;
  bottom:25px;
}
.shop-footer .footer-left .span3{
  font-size:.36rem;
  position:absolute;
  left:.18rem;
  bottom:.06rem;
}
.shop-footer .footer-left .span4{
  position:absolute;
  left:1.7rem;
  bottom:.06rem;
}
.shop-footer .footer-left .span5{
  position:absolute;
  left:2.8rem;
  bottom:.06rem;
}
.button-car{
  height:.8rem;
  width:35%;
  float:right;
  text-align: right;
  font-size:.4rem;
  b{
    background-color: #6f7887;
    margin-right: .2rem;
  }
}
.clear-shop{
  margin-right:.3rem;
  margin-top:.5rem;
  color: #4644ff;
}

